{
  "name": "player",
  "components": {
    "1": {
      "type": "Controller"
    },
    "RB": {
      "type": "Rigidbody",
      "body_type": "kinematic",
      "y": -3,
      "trigger_height": 1.5
    }
  }
}
