{
"game_start_message": "GAME START",
"game_over_bad_message": "GAME END BAD",
"game_over_good_message": "GAME END GOOD",
"initial_scene": "override_example",
"game_title": "SDL_Intro",
"intro_text": [
"first frame text",
"other stuff"
],
"font": "OpenSans-Regular",
"intro_bgm": "title_music",
"gameplay_audio": "title_music",
"hp_image": "heart",
"game_over_bad_image": "cat",
"game_over_good_image": "dog",
"player_movement_speed": 0.1,
"damage_sfx": "step",
"nearby_dialogue_sfx": "step",
"step_sfx": "step"
}
